* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: rgb(33,83,201);
    background: linear-gradient(90deg, rgba(33,83,201,1) 0%, rgba(9,110,121,0.9009978991596639) 43%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}